{% extends 'layout.html' %}
{% block content %}

<div class="navbar">
    <a style="font-size:1vw" href="{{url_for('home')}}">Home</a>
    <a style="font-size:1vw"  href="{{url_for('single_artist_collaborators')}}">Direct Collaborators</a>
    <a style="font-size:1vw" class="nav-link active"   href="{{url_for('collaboration_path')}}">Collaboration Path</a>
 </div>

 <br>


<div style="text-align:center;">
<form style="font-size:1vw" method="post">
  Artist 1: <input name="artist1"/>
  <br/><br/>
  Artist 2: <input name="artist2"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>
</div>

    <br>
    
    <h2 class="center">{{text}}</h2>
    {% for item in data%}
    <br>
    <br>
   

    {% if item.data_type == "artist" %}
        <h4 class="center">{{item.name}}</h4> <br>
        <img class="image_center" src="{{item.img_url}}">

    {% elif item.data_type == "track" %}
    <iframe frameborder='0' noresize='noresize' style='background: transparent; width: 50%; height:3vw;' src="https://open.spotify.com/embed/track/{{item.id}}?utm_source=generator"  frameborder="0"></iframe>
    {% endif %}

    {%endfor%}


{% endblock content %}