{% extends 'layout.html' %}
{% block content %}
<h2 class="center">
    Direct Collaborators
</h2>

<!-- Add a svg area, empty -->

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<link rel="stylesheet" href="../static/css/custom.css">


<div style="text-align:center;">
    <form method="post">
        Artist: <input name="artist" placeholder ="Enter artist name"/>
        <!-- <input name="artist" class="form-control" id="exampleInputEmail1" placeholder="Enter artist name"> -->
      
        <br/><br/>
        <button class="center" type="submit">Submit</button>
      </form>
</div>




<br>
<img class="image_center" src="{{image_url}}">


<h2 class="center my_text" >{{text}}</h2>
<!-- <div id="my_dataviz" class="first"></div>
<div id="my_barchart" class="second"></div> -->

<div style="width:800px;">
    <div id="my_dataviz" style="width:300px; float:left;"></div>
    <div id="my_barchart" style="width:0px; float:right;"></div>
  </div>
  <div style="clear: both;"></div>


<script src="../static/js/circle-chart.js"></script>
<script src="../static/js/bar-chart.js"></script>





<script>
    let graph_data = JSON.parse('{{data | tojson | safe }}');
    circleChart(graph_data);
    barChart(graph_data);
</script>


{% endblock content %}