{% extends 'layout.html' %}
{% block content %}
<!-- <h2 class="center">
    Direct Collaborators
</h2> -->

<!-- Add a svg area, empty -->

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>

<!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../static/css/custom.css">

<div class="navbar">
    <a style="font-size:1vw" href="{{url_for('home')}}">Home</a>
    <a style="font-size:1vw" class="nav-link active" href="{{url_for('single_artist_collaborators')}}">Direct Collaborators</a>
    <a style="font-size:1vw" href="{{url_for('collaboration_path')}}">Collaboration Path</a>
 </div>

 <br>


<div style="font-size:1vw" class="center">
    <form method="post">
        Artist: <input name="artist" placeholder ="Enter artist name"></input>
      </form>
</div>
<br>
    <button class ="center" style="font-size:1vw" type="submit">Submit</button>



<br>
<img class="image_center" src="{{image_url}}">
<br>

<h2 class="center my_text" >{{text}}</h2>


<div style="width:800px;">
    <div id="my_dataviz" style="width:300px; float:left;"></div>
    <div id="my_barchart" style="width:0px; float:right;"></div>
  </div>
  <div style="clear: both;"></div>


<script src="../static/js/circle-chart.js"></script>
<script src="../static/js/bar-chart.js"></script>





<script>
    let graph_data = JSON.parse('{{data | tojson | safe }}');
    circleChart(graph_data);
    barChart(graph_data);
</script>


{% endblock content %}